* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #d9ce86;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: 0.5s;
    transform: translateX(-50%);
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 50px;
    margin-top: 20px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.form {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    z-index: 1;
    text-align: center;
}

.form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form .area {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.form .switch-field {
    display: flex;
    justify-content: space-between;
}

.form .switch-field input[type="radio"] {
    display: none;
}

.form .switch-field label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #ddd;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.form .switch-field input[type="radio"]:checked+label {
    background: #99957e;
    color: #fff;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
}

.submit {
    font-size: 16px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #555;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.result h2 {
    font-size: 24px;
}
